name: Release
on:
  pull_request:
    # types: closed
jobs:
  release:
    name: Release
    runs-on: ubuntu-latest
    # if: github.event.pull_request.merged​ && (...)
    if: |
      true && (
        contains(github.event.pull_request.labels.*.name, 'npm-patch') ||
        contains(github.event.pull_request.labels.*.name, 'npm-minor') ||
        contains(github.event.pull_request.labels.*.name, 'npm-major')
      )
    steps:
      - name: Checkout
        uses: actions/checkout@v1
      - name: Setup Node.js v12
        uses: actions/setup-node@v1
        with:
          node-version: 12
      - name: Install dependencies
        run: npm ci
      - name: Setup git and npm
        run: |
          git remote add gh-origin https://${GITHUB_ACTOR}:${GITHUB_TOKEN}@github.com/${GITHUB_REPOSITORY}.git​
          git config user.name "Flo Edelmann"
          git config user.email "florian-edelmann@online.de"
          npm config set //registry.npmjs.org/:_authToken=$NPM_API_TOKEN
      - name: Bump patch version
        if: contains(github.event.pull_request.labels.*.name, 'npm-patch')
        run: npm version patch --force -m "Version %s"​
      - name: Bump minor version
        if: contains(github.event.pull_request.labels.*.name, 'npm-minor')
        run: npm version minor --force -m "Version %s"​
      - name: Bump major version
        if: contains(github.event.pull_request.labels.*.name, 'npm-major')
        run: npm version major --force -m "Version %s"​
      # - name: Release new version
      #   run: |
      #     npm publish
      #     git push gh-origin HEAD:master --tags
      - name: Dump GitHub context
        env:
          GITHUB_CONTEXT: ${{ toJson(github) }}
        run: echo "$GITHUB_CONTEXT"
      # - name: Create GitHub Release
      #   uses: actions/create-release@v1
      #   with:
      #     tag_name: ${{ github.ref }}
      #     release_name: Release ${{ github.ref }}
      #     body: |
      #       **NEW:**
      #       **FIXED:**
      #       **IMPROVED:**
      #       **META:**
      #       **BREAKING:**
      #     draft: true
      #     prerelease: false
env:
  NPM_API_TOKEN: ${{ secrets.NPM_API_TOKEN }}​
  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
